/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.eot');
    src: url('../fonts/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('../fonts/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans500';
    src: url('../fonts/sinkinsans_500medium_macroman/SinkinSans-500medium-webfont.eot');
    src: url('../fonts/sinkinsans_500medium_macroman/SinkinSans-500medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans_500medium_macroman/SinkinSans-500medium-webfont.woff') format('woff'),
         url('../fonts/sinkinsans_500medium_macroman/SinkinSans-500medium-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans_500medium_macroman/SinkinSans-500medium-webfont.svg#sinkin_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100%;
    
    font-family: 'sinkin_sans400_regular', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    
    background-color: hsl(210, 2%, 25%);
}

html {
    height: 100%;
}

header {
    background-color: #FFFFFF;
    border-bottom: 20px solid  hsl(210, 2%, 25%);

    text-align: center;
    font-size: 0px;
}

nav img {
    display: inline-block;
    height: 75px;
}

#topNumber {
    display: block;
    position: absolute;
    right: 3vw;
    top: 2vw;
    font-size: 2vw;
    color: hsl(337, 66%, 53%);
}

nav ul {
    display: block;
}

nav ul li {
    display: ;
    
    width: 100%;
}

nav ul li a {
    display: block;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    box-sizing: border-box;
    height: 50px;
    
    border-top: 1px solid  hsl(210, 2%, 25%);
    
    padding-top: 17px;
    color: hsl(337, 66%, 53%);

    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a:hover {
    background-color: lightgrey;
}


#mainContent {
    margin: 0px auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    background-color: hsla(0, 0%, 100%, 0.9);
    
    font-size: 12px;
    color: hsl(0, 0%, 30%);

}
h1.pageTitle {
    padding: 10px 0;
    
    font-size: 25px;    
    font-family: "sinkin_sans500", sans-serif;
    color: hsl(337, 66%, 53%);
    

}
h2.accent{
    padding: 5px 0;
    font-size: 18px;
    font-family: "sinkin_sans500", sans-serif;
    color: hsl(337, 66%, 53%);
}

span.accent{
    font-family: "sinkin_sans500", sans-serif;
    font-size: 15px;
    color: hsl(337, 66%, 53%);
}

img.rizaPic {
    width: 95vw;

}

#mainContent p {
    margin: 0 15px;
}

#mainContent ul {
    margin: 10px 20px;
}

#mainContent ul li {
    margin: 6px 0;
}

footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    border-top: 20px solid hsl(210, 2%, 18%);;
    
    background-color: hsl(210, 2%, 25%);
    

    color: white;
    font-size: 10px;
    text-align: center;
}

#contact {
    display: block;
}

#copyright {
    display: block;
    padding-top: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

