@media all and (min-width: 700px) {

 body {
    height: 100%;
    
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    font-family: 'sinkin_sans400_regular', sans-serif;
    font-size: 14px;
}

    
header {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 20px solid hsl(210, 2%, 18%);
    text-align: center;
    font-size: 0px;
}

nav {
    position: relative;
    
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
}
    
nav img {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 200;
    
    max-width: 20vw;
    max-height: 6vw;
    padding: 0 5px;
    
    background-color: white;

}

#topNumber {
    display: block;
    position: absolute;
    right: 0px;
    top: 1.1vw;
    font-size: 1.4vw;
    color: hsl(337, 66%, 53%);
}
    
nav ul {
    display: inline-block;
    position: relative;
    top: -15px;
    z-index: 100;
    
    width: 90vw;
    max-width: 1000px;
    padding-top: 15px;
    border-top: 2px solid #000000;
    
    font-size: 0px;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    
    height: 6vw;
    max-height: 75px;
    width: 18vw;
    max-width: 200px;
    
    text-align: center;

}

nav ul li a {
    display: inline-block;
    
    box-sizing: border-box;
    height: 6vw;
    max-height: 75px;
    width: 100%;
    max-width: 200px;
    padding-top: 2vw;
    border: 0px;
    
    vertical-align: middle;
    text-align: center;
    color: hsl(338, 66%, 51%);
    text-decoration: none;
    font-size: 1.4vw;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    color: hsl(338, 66%, 61%);
    border-bottom: 3px solid hsl(337, 66%, 53%);
}
    
#outerWrapper {
    min-height: 100%;
/*    height: auto !important;*/
    height: 100%;
    min-height: 800px;
    width: 100%;
    min-width: 480px;
    margin: 0 auto -100px;
}
    
#mainContent {
    position: relative;
    top: 5vh;
    
    width: 75%;
    max-width: 980px;
    
    -webkit-box-shadow: 0 15px 20px hsl(0, 0%, 0%);
    
    box-shadow: 0 25px 120px 10px hsl(0, 0%, 0%);
}

.push {
    height: 100px;
}  

    footer {
    height: 120px;
    padding-top: 5px;
    font-size: 12px;

}

#innerFooter {
    margin: 0 auto;
    max-width: 900px;
    
}
    
#contact {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: left;
}

#copyright {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
}
}

@media all and (min-width: 1200px) {
#topNumber {
    top: 15px;
    font-size: 20px;
}
    
nav ul li a {
    font-size: 16px;
    padding-top: 25px;
}